body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#map {
  flex: 1;
  width: 100%;
}

.form-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#toggleFormButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.form-content {
  display: none;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input,
.form-container textarea,
.form-container button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.form-container textarea {
  resize: vertical;
  height: 100px;
}

.form-container button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
}

@media (max-width: 600px) {
  .form-container {
    padding: 10px;
  }

  .form-content {
    max-width: 100%;
  }

  .form-container input,
  .form-container textarea,
  .form-container button {
    font-size: 14px;
    padding: 6px;
  }

  .form-container h2 {
    font-size: 18px;
  }

  .custom-svg-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
  }
}
